#Ignore unfinished assignments
Programming Assignment 5/
Programming Assignment 6/
Programming Assignment 7/
Programming Assignment 8/

#Ignore Octave Files inside folders
Programming Assignment 1/Octave Scripts - Exercise 1/
Programming Assignment 2/Octave-Script Exercise 2/
Programming Assignment 3/Octave - Scripts Exercise 3/
Programming Assignment 4/ex4/

