#Ignore Octave Files inside folders
Programming Assignment 1/Octave Scripts - Exercise 1/
Programming Assignment 2/Octave-Script Exercise 2/
Programming Assignment 3/Octave - Scripts Exercise 3/
Programming Assignment 4/ex4/
Programming Assignment 5/ex5/
Programming Assignment 6/ex6/
Programming Assignment 7/ex7/
Programming Assignment 8/ex8/

# Ignore DS Store
.DS_Store
